<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kmitl.it.project.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Grade3Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ProjectDetail"
            android:screenOrientation="landscape"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Grade2Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".GradeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SettingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SystemOfflineActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".UserScheduleActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".UserProjectResultActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".UserPosterActivity"
            android:screenOrientation="landscape"/>
        <receiver android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>